html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #745090;
}

* {
  box-sizing: border-box;
color: white !important;
}

#root > * {
  background-color: transparent; /* Ensure the children don't override background */
}
* {
  box-sizing: border-box;
}
.welcome-text {
  padding-top: 20vh;
}
.no-outline , .no-outline:hover, .no-outline:focus {
 outline: none;
}
.no-box-shadow {
 box-shadow: none;
}
.messages-container {
  height: 65vh;
}

/* Animations */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.chat-loader {
  margin-left: 1rem;
  width: 40px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, currentColor 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}
