html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
textarea:focus,
input:focus {
  outline: none;
}

/* General layout */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  width: 80vw;
  max-width: 600px;
}

/* Output area */
pre {
  white-space: pre-wrap;
  min-height: 15vh;
}

/* Input area */
h1 {
  text-align: center;
}
.prompt-container {
  display: flex;
  width: 100%;
  border-radius: 32px;
  overflow: hidden;
  background-color: #f2f2f2;
}
input {
  flex: 1;
  border: none;
  padding: 16px;
  background-color: #f2f2f2;
}
button {
  border: none;
  padding: 16px;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  border-radius: 32px;
}
button:hover {
  background-color: #333;
}
button:active {
  background-color: #444;
}
button:disabled {
  background-color: #888;
  cursor: not-allowed;
}
.disclaimer {
  color: #aaa;
  font-size: 0.8em;
  line-height: 1em;
  text-align: center;
}
.loading {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
